<div class="header_admin">
    <a class="header_heading">
        <span>Control</span> Panel
    </a>
    <nav class="head_nav">
        <a href="javascript:;">
            <i id="asidebard_btn" class="fa-solid fa-bars"></i>
        </a>
        <ul>
            <li class="removeres">HELLO, Admin</li>
            <li><i class="fa-solid fa-laptop"></i> <a href="/" style="text-decoration: none;
    color: white;">FRONT END</a></li>
            <li><i class="fa-solid fa-right-from-bracket"></i> <a href="/admin/logout" style="text-decoration: none;
    color: white;">LOGOUT</a></li>
        </ul>
    </nav>
</div>