<aside id="asidenav">

    <div class="list_nav_box">
        <ul class="listnav">


            <li>
                <a href="dashboard">
                    <i class="fa-solid fa-gauge"></i>
                    Dashboard
                </a>
            </li>



            <li>

                <a href="javascript:;" data-show="manageUsers">
                    <i class="fa fa-files-o"></i>
                    All users
                    <i class="downarrow fa-solid fa-chevron-down"></i>
                </a>

                <ul class="submenus" id="manageUsers">

                    <li>
                        <a href="manageUsers">
                            <i class="fa fa-square"></i>
                            Manage Users
                        </a>
                    </li>

                    <li>
                        <a href="addNewUser">
                            <i class="fa fa-square"></i>
                            Add Users
                        </a>
                    </li>



                </ul>
            </li>




            <li>

                <a href="javascript:;" data-show="manageProduct">
                    <i class="fa fa-shopping-cart"></i>
                    All Products
                    <i class="downarrow fa-solid fa-chevron-down"></i>
                </a>

                <ul class="submenus" id="manageProduct">

                    <li>
                        <a href="manageProduct">
                            <i class="fa fa-square"></i>
                            Manage Products
                        </a>
                    </li>

                    <li>
                        <a href="addProduct">
                            <i class="fa fa-square"></i>
                            Add Product
                        </a>
                    </li>



                </ul>
            </li>
        </ul>
        </ul>
    </div>
</aside>